body {
    background-color:rgb(3, 17, 16);


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: white;
}

.placeholder {
    background-color: rgb(12, 8, 11);
    background: linear-gradient(-45deg,
      transparent 49.9%, 
      rgb(16, 4, 85) 49.9%, rgb(16, 4, 85) 60%, 
      transparent 60%
    ),
    linear-gradient(-45deg,
    rgb(16, 4, 85) 10%,
      transparent 10%
    );
    background-size: 40px 40px;

    border: solid 5px rgb(16, 4, 85);
    
    
}


.texter {
  margin-top: 12em;
  margin-bottom: 1.5em;
}

.author {
  color:dimgray;
}

.motiv {
  padding: 1em;
  padding-top: 0.1em;
  padding-bottom: 0;
}

.copy, .more, .telegram {
  color: white;
  text-decoration: none;
  margin-top: 2em;
  padding: 1em;
  transition: 300ms;
  padding-bottom: 0.6em;
}

.copy:hover, .more:hover, .telegram:hover {
  color: rgb(190, 218, 255);
  transition: 300ms;
  text-shadow: rgb(117, 156, 207) 0 0 10px;
}


.footer {
  margin-top: 10em;
}

.help {
  color: white;
  text-decoration: none;
  margin: 2em;
  transition: 300ms;
}

.help:hover {
  color: rgb(190, 218, 255);
  transition: 300ms;
  text-shadow: rgb(117, 156, 207) 0 0 10px;
}